<div class="panel panel-primary">
  <div class="panel-heading">
    User Log Data
  </div>
  <div class="panel-body">
    <form 
      class="form-horizontal" 
      novalidate 
      (ngSubmit)="save()"
      [formGroup]="userForm"
      >
        <fieldset>
          <!--Form group for First Name Start-->
            <div class="form-group">
                <label 
                  for="firstNameId" 
                class="col-md-2 control-label">First Name
                </label>
                <div class="col-md-8">
                  <input 
                  type="text" 
                  class="form-control" 
                  id="firstNameId" 
                  placeholder="First Name"
                  formControlName="firstName">
                </div>
            </div>
            <div class="form-group">
              <label for="lastNameId" 
                   class="col-md-2 control-label">Last Name
              </label>
              <div class="col-md-8">
                <input 
                  type="text" 
                  class="form-control"
                  id="lastNameId"
                  placeholder="Last Name"
                  formControlName="lastName">
              </div>
            </div>
          <!--Form group for First Name End-->

          <!--Form group for Last Name Start-->
          <!--Form group for Last Name End-->

          <!--Form submit buttons start-->
            <div class="form-group">
              <div class="col-md-6 col-md-offset-2">
                <span>
                <button class="btn btn-primary" type="submit">Save</button>
                </span>
                <span>
                <button class="btn btn-primary" 
                         type="button"
                         (click)="populateTestData()">Test Data</button>
                </span>
                <span>
                <button class="btn btn-primary" 
                         type="button"
                         (click)="clearTestData()">Clear Data</button>
                </span>


              </div>
            </div>
          <!--Form submit buttons end-->
        </fieldset>
    </form>
  </div>
</div>
<!--Form output for development-->
<br>Dirty:{{userForm.dirty}}
<br>Touched: {{userForm.touched}}
<br>Pristin: {{userForm.pristine}}
<br>Valid:{{userForm.valid}}
<br>Value: {{userForm.value |json}}
<br>FormValues:{{formValues}}