<div class="panel panel-primary">
  <div class="panel-heading">
    Voltage Drop Calculator
  </div>
  <div class="panel-body">
    <form 
      class="form-horizontal" 
      novalidate 
      (ngSubmit)="save()"
      [formGroup]="voltageDropCalForm"
      >
        <fieldset>
          <!--Form group for Distance Start-->
            <div class="form-group"
              [ngClass]="{'has-error': (voltageDropCalForm.get('distance').touched || 
                                              voltageDropCalForm.get('distance').dirty) &&
                                              !voltageDropCalForm.get('distance').valid }">

                <label for="firstNameId" 
                  class="col-md-2 control-label">Distance
                  </label>
                <div class="col-md-8"><input 
                  type="text" 
                  class="form-control" 
                  id="firstNameId" 
                  placeholder="Distance"
                  formControlName="distance"/>
                    <span class="help-block" *ngIf="(voltageDropCalForm.get('distance').touched || 
                                                         voltageDropCalForm.get('distance').dirty) && 
                                                         voltageDropCalForm.get('distance').errors">
                            <span *ngIf="voltageDropCalForm.get('distance').errors.required">
                                Please enter your Distance.
                            </span>

                    </span>
                </div>
              </div>
            <div class="form-group"
              [ngClass]="{'has-error': (voltageDropCalForm.get('voltage').touched || 
                                              voltageDropCalForm.get('voltage').dirty) &&
                                              !voltageDropCalForm.get('voltage').valid }">
              <label for="voltageId" 
                   class="col-md-2 control-label">Voltage
              </label>
              <div class="col-md-8">
                <input 
                  type="text" 
                  class="form-control"
                  id="voltageId"
                  placeholder="Voltage"
                  formControlName="voltage">
                  <span class="help-block" *ngIf="(voltageDropCalForm.get('voltage').touched || 
                                                         voltageDropCalForm.get('voltage').dirty) && 
                                                         voltageDropCalForm.get('voltage').errors">
                            <span *ngIf="voltageDropCalForm.get('voltage').errors.required">
                                Please enter your Distance.
                            </span>
                         
                        </span>
              </div>
              </div>
            <!--Form group for Distance End-->

          <!--Form group for Voltage Start-->
            <!--Form group for Voltage End-->

          <!--Form submit buttons start-->
            <div class="form-group">
              <div class="col-md-6 col-md-offset-2">
                <span>
                <button class="btn btn-primary" type="submit">Save</button>
                </span>
                <span>
                <button class="btn btn-primary" 
                         type="button"
                         (click)="populateTestData()">Test Data</button>
                </span>
                <span>
                <button class="btn btn-primary" 
                         type="button"
                         (click)="clearTestData()">Clear Data</button>
                </span>


              </div>
            </div>
            <!--Form submit buttons end-->
        </fieldset>
    </form>
  </div>
</div>
<!--Form output for development start-->
<br>{{voltageDropCalForm.value |userObjArray|json}}
  <br>Dirty:{{voltageDropCalForm.dirty}}
  <br>Touched: {{voltageDropCalForm.touched}}
  <br>Pristin: {{voltageDropCalForm.pristine}}
  <br>Valid:{{voltageDropCalForm.valid}}
<br>{{voltageDropCalForm.distance}}
  <br>Value: {{voltageDropCalForm.value |json}}
  <br>FormValues:{{formValues}}
  <!--Form output for development end-->

   <div class='table-responsive'>
            <table class='table'
                   *ngIf='voltageDropCalForm.valid'>
                <thead>
                    <tr>
                        <th>Distance</th>
                        <th>Voltage</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let vol of voltageDropCalForm.value |userObjArray:distance '>
                        
                    <!--<td>{{vol}}</td>
                    <td>vol</td>-->
                        <td>{{ vol.distance }}</td>
                        <td>{{ vol.voltage }}</td>
                       
                    </tr>
                </tbody>
            </table>
        </div>